<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
    <title>
        {% block title %}{{ SITE_NAME }}{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}{% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <link href="/static/css/style.css" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>

<body id="index" class="home">
    <header id="banner" class="body">
        <a href="{{ SITE_URL }}">
            <img src="{{ LOGOURL }}">
        </a>
    </header>
    <nav id="menu">
        <ul>
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content%}
    <footer>
        <img src="{{ FOOTER_LOGOURL }}">
    </footer>
</body>
</html>